Django==4.2.3
djangorestframework_simplejwt==5.3.0
PyMySQL==1.1.1
python-dotenv==1.0.1
pytz==2023.3
rest_framework_simplejwt==0.0.2
sendgrid==6.11.0
twilio==9.0.5
whitenoise==6.7.0
django-cors-headers==4.2.0
gunicorn==23.0.0
cryptography