[
    { 
        "op": "replace", 
        "path": "/spec/rules/0/host", 
        "value": "hostname.com"
    },
    { 
        "op": "replace", 
        "path": "/spec/tls/0/hosts/0", 
        "value": "hostname.com"
    },
    { 
        "op": "replace", 
        "path": "/spec/tls/0/secretName", 
        "value": "secretname"
    }
]